<h1>Click a Song To Start Jammin</h1>
<%= link_to "Add a New Song", new_billboard_song_path(@billboard) %>
<ul>
  <% @songs.each do |song| %>
    <li><%= link_to song.name, [@billboard, song] %></li>
  <% end %>
</ul>
